{{template "header.tmpl"}}
<style>
.comment { padding: 10px; margin: 20px 0; }
.comment-content { padding-left: 20px; }
</style>

<body>
  <span id="top"></span>

  <p>
    <a href="/p/">Back to listing</a>
  </p>

  <h1>{{.Post.Subject}}</h1>
  {{range .Comments}}
    <div class="comment" id="comment-{{.CommentID}}">
      <div class="comment-header">
        <a href="/u/{{.Author.UserID}}">{{.Author.Name}}</a>
        at <span title="{{.Created.Format "2006-01-02 at 15:04 -0700"}}">{{.Created.Format "Monday, _2 Jan 2006"}}</span>
        | <a href="./#comment-{{.CommentID}}">link</a>
      </div>
      <div class="comment-content">
        <p>{{.Content | markdown}}</p>
      </div>
    </div>
  {{end}}

  <p>
    <a href="#top">Top of the page</a>
    |
    <a href="/p/">Back to listing</a>
  </p>

  <form method="POST" action="/p/{{.Post.PostID}}/comment/" enctype="multipart/form-data" autocomplete="off">
    <textarea name="content" class="js-enable-when-logged" required placeholder="Write your comment" disabled></textarea>
    <button type="submit" class="js-enable-when-logged" disabled>Comment</button>
    <span class="js-hide-when-logged">You must <a href="/login/">login</a> to comment.</span>

    <script>
      window.addEventListener("load", function() {
        var req = new XMLHttpRequest()
        req.responseType = "json"
        req.open("GET", "/api/me/")
        req.onload = function() {
          if (req.status === 200) {
            var data = req.response

            var inputs = document.getElementsByClassName('js-enable-when-logged')
            for(var i = 0; i < inputs.length; i++) {
                  inputs[i].disabled = false
            }

            var inputs = document.getElementsByClassName('js-hide-when-logged')
            for(var i = 0; i < inputs.length; i++) {
                  inputs[i].style.display = 'none'
            }
          }
        }
        req.send()
      })
    </script>
  </form>

  <span id="bottom"></span>
</body>
