{{template "header.tmpl"}}

<link rel="canonical" href="/t/{{.Topic.TopicID}}/?page={{.Pagination.CurrentPage}}">

<style>
.comment { padding: 10px; margin: 20px 0; }
.comment-content { padding-left: 20px; }
</style>

<body>
  <span id="top"></span>

  <div class="menu">
    <a href="/t/">Back to listing</a>
    <span class="separator"></span>
    <a href="#bottom">Bottom of the page</a>
    <span class="separator"></span>
    <a href="/t/search/">Search</a>
    <span class="separator"></span>
    {{if .CurrentUser}}
      <a href="/logout/">Logout</a>
      <small>({{.CurrentUser.Name}})</small>
    {{else}}
      <a href="/login/">Login</a>
    {{end}}
  </div>

  <h1>{{.Topic.Subject}}</h1>

  {{with $root := .}}
    {{range $root.Comments}}
      <div class="comment" id="comment-{{.CommentID}}">
        <div class="comment-header">
          <a href="#comment-{{.CommentID}}" title="direct link to the comment">#</a>
          <a href="/u/{{.Author.UserID}}/">{{.Author.Name}}</a>
          <small>
            <span class="separator"></span>
            <span title="{{.Created.Format "2006-01-02 at 15:04 -0700"}}">{{.Created | timeago}}</span>
            {{if call $root.CanModify .}}
              <span class="separator"></span>
              <a href="/c/{{.CommentID}}/edit/">edit</a>
              <span class="separator"></span>
              <a href="/c/{{.CommentID}}/delete/">delete</a>
            {{end}}
          </small>
        </div>
        <div class="comment-content">
          <p>{{.Content | markdown}}</p>
        </div>
      </div>
    {{else}}
      No comments
    {{end}}
  {{end}}

  <div class="menu">
    <a href="/t/">Back to listing</a>
    <span class="separator"></span>
    <a href="#top">Top of the page</a>
    <span class="separator"></span>
    <a href="/t/search/">Search</a>
    <span class="separator"></span>
    Page:
    {{range .Pagination.Pages}}
      {{if .Active}}
        {{.Number}}
      {{else}}
        <a href="./?page={{.Number}}">{{.Number}}</a>
      {{end}}
      {{if not .IsLast}}, {{end}}
    {{end}}
  </div>

  {{if .CurrentUser.Authenticated}}
    {{if .Pagination.HasNextPage}}
      <div class="box-info">
        Commenting is possible only from the <a href="/t/{{.Topic.TopicID}}/last-comment/{{.Topic.SlugInfo}}">last page of the topic</a>.
      </div>
    {{else}}
      <form method="POST" action="/t/{{.Topic.TopicID}}/comment/" enctype="multipart/form-data" autocomplete="off">
        <textarea name="content" id="comment-content" placeholder="Write your comment. Use markdown." required {{if not .CurrentUser.Authenticated}}disabled{{end}}></textarea>
        <button type="submit" {{if not .CurrentUser.Authenticated}}disabled{{end}}>Comment</button>
        {{.CsrfField}}

        writing as <em>{{.CurrentUser.Name}}</em>
      </form>
    {{end}}
  {{else}}
    <div class="box-info">
      You must be authenticated to comment.
      <a href="/login/?next=/t/{{.Topic.TopicID}}/last-comment/%23bottom">Login</a> with existing account or
      <a href="/register/?next=/t/{{.Topic.TopicID}}/last-comment/%23bottom">create one</a>.
    </div>
  {{end}}

  <span id="bottom"></span>
</body>
