<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram-themes/master/src/maroon.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<style type="text/css">
	body  { margin: 40px auto; max-width: 800px; line-height: 1.6; font-size: 18px; padding: 0 10px; font-family: 'Roboto', sans-serif; }
</style>
