<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">
<style type="text/css">
	body  { margin: 40px auto; max-width: 800px; line-height: 180%; padding: 0 10px; font-family: sans-serif; }
  textarea, input { box-sizing: border-box; width: 100%; margin: 2px 0; padding: 12px 8px; }
  input[type=search] { width: 200px; padding: 0px; margin: 0; }
  textarea { padding: 12px; resize: vertical; }
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.3em; }
  hr { border: 1px solid #eee; }
  fieldset { border: none; }
  .box-info { padding: 12px 20px; border: 1px solid #ACD8E9; background: #E5F5FC; border-radius: 3px; }
  .menu { padding: 10px 0; margin: 18px 0; }
  .menu a { text-decoration: none; }
  .menu a:visited { color: blue; }
  .separator:after { content: "☰"; padding: 0 10px; font-size: 80%; }
</style>
