{{template "header.tmpl"}}

<style>
ul.errors  { background: #FFF1F1; padding: 10px; }
ul.errors li { list-style-type: none; margin: 10px; }
</style>


{{if .Errors}}
  <ul class="errors">
    {{range .Errors}}
      <li>{{.}}</li>
    {{end}}
  </ul>
{{end}}

{{if .User}}
  Already logged in as <em>{{.User.Name}}</em>.

  <form method="POST" action="/logout/">
    <button>Logout</button>
    or abort and go back to <a href="/t/">topics list</a>.
  </form>
{{else}}
  <form method="POST" action="/login/" enctype="multipart/form-data">
    <input type="text" name="login" placeholder="Login" required>
    <input type="password" name="password" placeholder="Password" required>
    {{.CsrfField}}
    <input type="hidden" name="next" value="{{.Next}}">

    <button type="submit">Login</button>
    or <a href="/register/">register a new account</a>.
  </form>
{{end}}


<script>
  sessionStorage.clear()
</script>
