{{template "header.tmpl"}}

{{template "toggle_logged.tmpl"}}

<style>
.post { margin: 8px 0; }
.post-tagline { font-size:80%; padding-left: 10px; color: #444; }
hr { border: 1px solid #eee; }
</style>

<body>
  <div style="display:none" data-unauthenticated-display="inline">
    <a href="/login/">Login</a>
  </div>
  <div style="display:none" data-authenticated-display="inline">
    <a href="/p/new/">Create new post</a>
    <a href="/logout/">Logout</a>
  </div>
  <hr>
  {{if .Posts}}
      {{range .Posts}}
        <div class="post">
          <a href="/p/{{.PostID}}/{{.SlugInfo}}/">{{.Subject}}</a>
          <div class="post-tagline">
            Created by <em>{{.Author.Name}}</em>
            {{.Created | timeago}},
            {{.ViewsCount}} view{{if ne .ViewsCount 1}}s{{end}},
            {{.CommentsCount}} comment{{if ne .CommentsCount 1}}s{{end}}
          </div>
        </div>
      {{end}}
  {{else}}
    <div>No posts</div>
  {{end}}
</body>
