{{template "header.tmpl"}}
<style>
textarea { min-height: 300px; }
</style>

<form method="POST" action="." enctype="multipart/form-data">
  <input type="text" name="subject" value="{{.Subject}}" placeholder="Subject">
  {{if .Errors.Subject -}}
    <div>{{.Errors.Subject}}</div>
  {{- end}}

  <textarea name="content" placeholder="Content">{{.Content}}</textarea>
  {{if .Errors.Content -}}
    <div>{{.Errors.Content}}</div>
  {{- end}}

  <button type="submit">Create</button>
  or abort and go back to <a href="/p/">posts list</a>.
</form>
