{{template "header.tmpl"}}
<title>Settings</title>

<div class="menu">
  <a href="/t/">Back to listing</a>
</div>


<form method="POST" action=".">
  {{.CsrfField}}

  Categories:
  <textarea name="categories">
    {{- range .Categories}}
{{.Name}}
    {{- end -}}
  </textarea>

  <button>Save</button>
</form>
