{{define "menu"}}
  <div class="menu">
    <a href="/t/new/">New Topic</a>
    <span class="separator"></span>
    <a href="/t/search/">Search</a>

    {{if .NextPageAfter}}
      <span class="separator"></span>
      <a href="./?after={{.NextPageAfter}}">Next Page</a>
    {{end}}

    <span class="separator"></span>
    {{if .CurrentUser}}
      <a href="/logout/">Logout</a>
      <small>({{.CurrentUser.Name}})</small>
    {{else}}
      <a href="/login/">Login</a>
    {{end}}
  </div>

{{end}}



{{template "header.tmpl"}}

<style>
.topic { margin: 8px 0; }
.topic-tagline { font-size:80%; padding-left: 10px; color: #444; }
</style>

<body>
  {{template "menu" .}}

  {{if .Topics}}
      {{range .Topics}}
        <div class="topic">
          <a href="/t/{{.TopicID}}/{{.SlugInfo}}/">{{.Subject}}</a>
          <a href="/t/{{.TopicID}}/last-comment/{{.SlugInfo}}/">↘</a>
          <div class="topic-tagline">
            Created by <em>{{.Author.Name}}</em>
            {{.Created | timeago}},
            {{.ViewsCount}} view{{if ne .ViewsCount 1}}s{{end}},
            {{.CommentsCount}} comment{{if ne .CommentsCount 1}}s{{end}}
          </div>
        </div>
      {{end}}
  {{else}}
    <div class="box-info">No topics.</div>
  {{end}}

  {{template "menu" .}}
</body>
