{{template "header.tmpl"}}

<style>
.separator:after { content: " | "; padding: 0 10px; }
.topic { margin: 8px 0; }
.topic-tagline { font-size:80%; padding-left: 10px; color: #444; }
</style>

<body>
  {{if .CurrentUser}}
    <a href="/t/new/">Create new topic</a>
    <span class="separator"></span>
    <a href="/logout/" title="Logged as {{.CurrentUser.Name}}">Logout</a>
  {{else}}
    <a href="/login/">Login</a>
  {{end}}

  <hr>
  {{if .Topics}}
      {{range .Topics}}
        <div class="topic">
          <a href="/t/{{.TopicID}}/{{.SlugInfo}}/">{{.Subject}}</a>
          <div class="topic-tagline">
            Created by <em>{{.Author.Name}}</em>
            {{.Created | timeago}},
            {{.ViewsCount}} view{{if ne .ViewsCount 1}}s{{end}},
            {{.CommentsCount}} comment{{if ne .CommentsCount 1}}s{{end}}
          </div>
        </div>
      {{end}}

      <hr>
      {{if .NextPageAfter}}
        <a href="./?after={{.NextPageAfter}}">Next</a>
      {{end}}
  {{else}}
    <div>No posts</div>
  {{end}}
</body>
