{{template "header.tmpl"}}

<style>
textarea { min-height: 400px; }
</style>

<form method="POST" action="." enctype="multipart/form-data" autocomplete="off">
  <fieldset>
    <input type="text" name="subject" value="{{.Input.Subject}}" placeholder="Subject" required>
    {{if .Errors.Subject -}}
      <div class="box-danger">{{.Errors.Subject}}</div>
    {{- end}}
  </fieldset>

  <fieldset>
    {{range $name, $checked := .Tags}}
      <label>
        <input type="checkbox" name="tags" value="{{$name}}" {{if $checked}}checked{{end}}>
        {{$name}}
      </label>
    {{end}}

    {{if .Errors.Tags -}}
      <div class="box-danger">{{.Errors.Tags}}</div>
    {{- end}}
  </fieldset>

  <fieldset>
    <textarea name="content" placeholder="Content" required>{{.Input.Content}}</textarea>
      Use <a href="https://gist.github.com/budparr/9257428">markdown</a> to format content.
    {{if .Errors.Content -}}
      <div class="box-danger">{{.Errors.Content}}</div>
    {{- end}}
  </fieldset>

  {{.CsrfField}}

  <button type="submit">Create</button>
  or abort and go back to <a href="/t/">topics list</a>.
</form>
