{{define "topic-list-menu"}}
  <div class="menu">
    <a class="btn" href="/t/new/">New Topic</a>
    <span class="separator"></span>
    <a href="/t/search/">Search</a>

    {{if .NextPageAfter}}
      <span class="separator"></span>
      <a href="./?after={{.NextPageAfter}}">Next Page</a>
    {{end}}

    {{if .CurrentUser}}
      <span class="separator"></span>
      <a href="/t/mark-all-read/">Mark all read</a>
    {{end}}

    {{if call .CanChangeSettings .CurrentUser }}
      <span class="separator"></span>
      <a href="/settings/">Settings</a>
    {{end}}

    <span class="separator"></span>
    {{if .CurrentUser}}
      <a href="/logout/">Logout</a>
      <small>({{.CurrentUser.Name}})</small>
    {{else}}
      <a href="/login/">Login</a>
    {{end}}
  </div>

{{end}}


{{template "header.tmpl"}}


<body>
  {{template "topic-list-menu" .}}

{{with $root := .}}
  {{if $root.Topics}}
      {{range .Topics}}
        <div class="topic {{if .NewContent}}new-content{{end}}">
          <a
            {{- if $root.CurrentUser.Authenticated}}
              href="/t/{{.TopicID}}/last-seen-comment/{{.SlugInfo}}/"
            {{else}}
              href="/t/{{.TopicID}}/{{.SlugInfo}}/"
            {{end -}}
          >
            {{.Subject}}
          </a>

          {{with $t := .}}
            {{if gt (len $t.Pages) 1}}
              <span class="pagination">
                  {{range $t.Pages}}
                    <a href="/t/{{$t.TopicID}}/{{$t.SlugInfo}}/?page={{.}}">{{.}}</a>
                  {{end}}
              </span>
            {{end}}
          {{end}}

          {{if .NewContent}}<span class="new-content-tag">new</span>{{end}}

          <div class="topic-tagline">
            Created by <em>{{.Author.Name}}</em>
            {{.Created | timeago}},
            {{.ViewsCount}} view{{if ne .ViewsCount 1}}s{{end}},
            {{.CommentsCount}} comment{{if ne .CommentsCount 1}}s{{end}},
            in {{.Category.Name}}
          </div>
        </div>
      {{end}}
  {{else}}
    <div class="box-info">No topics.</div>
  {{end}}
{{end}}

  {{template "topic-list-menu" .}}
</body>
