{{template "header.tmpl"}}



<body>
  <h1>User <strong>{{.Name}}</strong></h1>

  <p>Scopes: <code>{{.Scopes}}</code></p>
  <p>Topics created: {{.TopicsCount}}</p>
  <p>Comments written: {{.CommentsCount}}</p>
</body>
