{{template "header.tmpl"}}


<body>
  <div class="menu">
    <a href="/t/">Back to listing</a>
    <span class="separator"></span>
    {{if .CurrentUser}}
      <a href="/logout/?next=/u/{{.User.UserID}}/">Logout</a>
      <small>({{.CurrentUser.Name}})</small>
    {{else}}
      <a href="/login/?next=/u/{{.User.UserID}}/">Login</a>
    {{end}}
  </div>

  <h1>User <strong>{{.User.Name}}</strong></h1>

  <p>Permissions: {{range .User.Scopes.Names}}{{.}} {{end}}</p>
  <p>Topics created: {{.User.TopicsCount}}</p>
  <p>Comments written: {{.User.CommentsCount}}</p>
</body>
